name: Trigger Parent Pipeline

on:
  push:
    branches: [ "main" ]   # or on new repo creation event

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
    - name: Call Parent Workflow
      run: |
        curl -X POST \
        -H "Accept: application/vnd.github+json" \
        -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
        https://api.github.com/repos/<ORG>/<PARENT_REPO>/dispatches \
        -d '{"event_type":"trigger-build","client_payload":{"repo":"<ORG>/<CHILD_REPO>"}}'
